* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

/*img {*/
/*    height: 100px;*/
/*    width: 100px;*/
/*}*/

.img-start {
    border: 5px solid black;
}

#img-1 {
    border: 5px dashed red;
}

#img-2 {
    border: 20px dashed pink;

/*.relative {*/
/*    margin-left: 35px;*/
/*    background: pink;*/
/*    height: 500px;*/
/*    width: 500px*/
/*}*/

/*.absolute {*/
/*    background: black;*/
/*    height: 100px;*/
/*    width: 100px*/
/*}*/